# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.py text
*.md text
*.txt text
*.yml text
*.yaml text
*.json text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
